<div>

  <ul>
    <template ngFor [ngForOf]="items | slice:((currentPage - 1) * itemPerPage):(currentPage * itemPerPage)" [ngForTemplate]="template">
    </template>
  </ul>

  <ul class="pagination">
    <li [ngClass]="{disabled: currentPage === 1}" (click)="decrementPage()">
      <a href="javascript:void(0)">&laquo;</a>
    </li>

    <li class="page-numbers" *ngFor="let page of pagesList" (click)="setPage(page)" [ngClass]="{active: currentPage === page}">
      <a href="javascript:void(0)">{{page}}</a>
    </li>

    <li [ngClass]="{disabled: currentPage === pagesList.length}" (click)="incrementPage()">
      <a href="javascript:void(0)">&raquo;</a>
    </li>
  </ul>
</div>
